.gallery-img {
    max-width: 1000px; /* Устанавливаем максимальную ширину */
    max-height: 500px; /* Устанавливаем максимальную высоту */
    margin: 0 auto; /* Центрируем изображение */
    display: block; /* Делаем изображение блочным элементом */
}
  