.home-wrapper {
    overflow-y: auto;
    height: 100vh;
    scroll-behavior: smooth; 
}
  
.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f9fb; 
    text-align: center;
}
  
.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%);
    z-index: -1;
}
  
.home-content {
    font-family: 'Unica One', cursive;
    position: relative;
    z-index: 1;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}
  
.mute-button {
    font-family: 'Unica One', cursive;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: #f8f9fb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.mute-button:hover {
    background-color: #2b2b2b;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; 
  background-color: #7e5d70; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #dcdddf;
}

.info-item {
  text-align: center;
  max-width: 300px;
}

.info-icon {
  width: 100px; 
  height: 100px; 
  margin-bottom: 30px;
  margin-top: 30px;
}

@media all and (max-width: 768px) { 
    .home-container, .info-container { 
        flex-direction: column; align-items: center; 
    } 
    .home-content, .fillings-section, .info-item { 
        width: 90%; margin: 10px 0; 
    } 
    .info-icon { 
        width: 80px; 
        height: 80px; 
    } 
    .mute-button { 
        margin-top: 10px; 
        padding: 8px 16px; 
    } 
    .fillings-section { 
        width: 90%; 
        padding: 10px; 
    } 
}
