.navbar {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.navbar-logo {
    height: 60px; 
    width: auto;  
}

.navbar .navbar-brand {
    margin-right: auto; 
    margin-left: 20px; 
}

.navbar-nav {
    display: flex;
    justify-content: center; 
    flex-grow: 1;
}

.navbar-nav .nav-item {
    margin: 0 20px; 
}

.nav-link {
    font-size: 18px; 
}

.cart-link { 
    margin-left: auto; 
    margin-right: 20px; 
}

@media all and (max-width: 768px) {
    .navbar-nav { 
        flex-direction: column; 
    } 
    .navbar-nav .nav-item { 
        margin: 10px 0; 
    } 
    .navbar .navbar-brand, .cart-link { 
        margin: 0 auto; 
    }
}
